body .conteiner {
    width: 100%;
    background-color: #3e3e3e;

}



.hapka {
    background-color: #00fab7;
}

.left_menu {
    float: left;
    width: 210px;
    background-color: #ff00ff;
    font-size: 12pt;
    color: #ffffff;

}

.center {
    float: left;
    width: 60%;
    height: 600px;
    background-color: #0089ff;
}

.testImg{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    margin: 10px;
    background-color: #ff00ff;

}

.slide_block{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
   
    width: 500px;
    height: 500px;
    background-color: #0bd879;
}
.slide_block img{
    display: block;   
    width: 500px;
    height: 500px;
}
.right_menu {
    float: left;
    width: 20%;
    background-color: #0bd879;
}

.footer {
    clear: both;
    background-color: brown;
}
